<ion-content [fullscreen]="true">

  <!-- <ion-item class="ion-padding">
    <ion-label>Rest Duration</ion-label>
    <ion-datetime #myPicker display-format="mm:ss" placeholder="Pick it" [(ngModel)]="fullTime"
      (ionChange)="updateMyDate(myPicker.value)"></ion-datetime>
  </ion-item> -->

  <!-- <div [style.height]="'60%'"> -->
    <circle-progress (click)="startTimer()" [percent]="percent" [maxPercent]="100" [radius]="radius" [showTitle]="false"
      [showSubtitle]="true" [subtitle]="remainingTime" [subtitleFontSize]="40" [showUnits]="false"
      [outerStrokeWidth]="16" [outerStrokeColor]="'#f763c6'" [showZeroOuterStroke]="false"
      [backgroundStroke]="'#f081cb'" [backgroundStrokeWidth]="3" [outerStrokeGradient]="true"
      [outerStrokeGradientStopColor]="'#9c0269'" [showInnerStroke]="false"></circle-progress>
  <!-- </div> -->

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="setOptions()" color="dark">
      <ion-icon name="settings-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ng-container *ngIf="timer == false; else running">
      <ion-fab-button (click)="startTimer()">
        <ion-icon name="play"></ion-icon>
      </ion-fab-button>
    </ng-container>
    <ng-template #running>
      <ion-fab-button (click)="stopTimer()">
        <ion-icon name="square"></ion-icon>
      </ion-fab-button>
    </ng-template>
  </ion-fab>

</ion-content>